@charset "utf-8";
/* CSS Document */

.download ul li a.a-l{font:12px/26px "";display:block;}
.download ul li span{float:none;margin-left:10px;display:block;color:#c6c6c6;font:12px/27px "";margin-right:50px;}
