@charset "utf-8";
/* CSS Document */

.main-r-lb img{display:block;margin:0 auto;}
.main-r-lb .lc-img1{width:554px;}
.main-r-lb p{text-align:center;padding:5px 0;}
.main-r-lb .btn{display:inline-block;border-radius:10px;margin:0 auto;background:#00b0f0;padding:0 46px;font:24px/60px "";color:#fff;}

.main-r .dl-img{padding-top:54px;}
.main-r .dl-img dd{float:left;padding:0 3px 36px 0;}
.main-r .dl-img dd a{}
.main-r .dl-img dt{padding-top:18px;}













